*{
 margin: 0;
 padding: 0;
 font-family: sans-serif;
}
body{
  background: #ccc;
}
#steps{
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
}
#outer-container{
  width: 1045px; 
  transition: all 400ms ease-in-out;
}
#adssteps{
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
}
#adsouter-container{
 
 width: 1045px; 
  transition: all 400ms ease-in-out;
} 
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.grid .item {
	display: flex;
	flex-direction: column;
	border: 1px #ccc solid;
	padding: 10px;
	box-shadow: 1px 1px 2px #ccc;
}

.grid .item h4 {
	margin-bottom: 5px;
}

.grid .item p {
	font-size: 14px;
	color: var(--secondary-color);
	font-weight: bold;
	margin-bottom: 20px;
}

.grid .item img {
	width: 30px;
	text-align: right;
	display: block;
	align-self: flex-end;
}
/* Desktop */
@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.grid .item img {
		width: 60px;
	}
}
/* popup window */

div.popup {
  border-radius: 1.6em;
  background: rgba(0, 0, 0, 0.66);
  display: none;
  height: auto;
  left: 27.2%;
  margin-bottom: 3%;
  padding: 0;
  position: absolute;
  top: 18%;
  width: 45%;
  z-index: 2;
}

/* popup image */

img.image {
  display: block;
  margin: 3% 0 0 18.6%;
  padding-bottom: 4%;
  width: 64%;
}

/* close button */

img.close_button {
  cursor: pointer;
  float: right;
  margin: 2%;
}

/* click button */

div.button {
    background: #255F85;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    margin: 10% auto 0;
    padding: 1%;
    text-align: center;
    width: 18%;
}

/* click button hover */

div.button:hover {
  background: #255F85;
  color: #FFC857;

#signup, #card{
  width: 500px;
  display: inline-block;
  background: white;
  margin: 10px 10px;
  vertical-align: top;
  transition: all 400ms ease-in-out;
}
#inner-container{
  width: 380px;
  margin: 30px auto;
}
#inner-container h2{
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 5px solid #4183D7; 
}
#usa, #pak{
  display: none;
}
#inner-container input, select{
  color: #666;
  width: 100%;
  height: 40px;
  text-indent: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 8px 0;
}
input[type="date"]{
  margin: 0;
  padding: 0;
  text-indent: 0;
}
#inner-container input[type=submit]{
  width: 100%;
  color: white;
  background: #4183D7;
  border: 0;
  box-shadow: inset 0 0 0 0 transparent;
  transition: all 400ms ease-in-out;
}
#inner-container #signup-btn:hover{
  box-shadow: inset 380px 0 0 0 #16A085;
}
#card{
  opacity: 0;
  text-align: center;
  line-height: 3.1;
}
#card img{
  width: 80px;
  height: 80px;
}
#delete-account #delete-btn:hover{
  box-shadow: inset 380px 0 0 0 #CF000F;
}